audioClassification/api-key.json
/Speech-to-Text-Recognition-and-Keyword-List-Finder-main/chunk0.wav
/Speech-to-Text-Recognition-and-Keyword-List-Finder-main/chunk1.wav
/Speech-to-Text-Recognition-and-Keyword-List-Finder-main/chunk2.wav
/audioClassification/output.wav
/audioClassification/recognized.txt
/data/
/audioClassification/test.py
/.idea/
